<div class="container col-md-6 mt-2">
    <div class="card">
        <div class="card-header h2">
            Knygu sąrašas:
        </div>

        <table class="table text-center">
            <thead class="border-bottom">
                <th class="h5" scope="col">#</th>
                <th class="h5" scope="col">Pavadinimas</th>
                <th class="h5" scope="col">Autorius</th>
                <th class="h5" scope="col">Išleidimo metai</th>
                <th class="h5" scope="col">Veiksmai</th>

            </thead>
            <tbody>

                <tr *ngFor="let book of fullBookInfo; let i = index">
                    <th scope="row" class="h5">{{ i + 1 }}</th>

                    <td>
                        <span *ngIf="!book.editMode">{{ book.name}}</span>
                        <input *ngIf="book.editMode" class="form-control" type="text" [(ngModel)]="book.name">
                    </td>

                    <td>
                        <span *ngIf="!book.editMode">{{ book.author}}</span>
                        <input *ngIf="book.editMode" class="form-control" type="text" [(ngModel)]="book.author">
                    </td>

                    <td>
                        <span *ngIf="!book.editMode">{{ book.releaseDate}}</span>
                        <input *ngIf="book.editMode" class="form-control" type="number" [(ngModel)]="book.releaseDate">
                    </td>
                    <td>
                        <div *ngIf="!book.editMode" class="d-flex gap-2 float-end">
                            <button (click)="book.editMode = true" class="btn btn-primary">Redaguoti</button>
                            <button (click)="deleteBook(book.id)" class="btn btn-danger ml-2">Ištrinti</button>
                        </div>
                        <div *ngIf="book.editMode" class="d-flex gap-2 float-end">
                            <button (click)="updateBook(book)" class="btn btn-success">Išsaugoti</button>
                            <button (click)="book.editMode = false" class="btn btn-secondary ml-2">Atšaukti</button>
                        </div>
                    </td>


                </tr>
            </tbody>
        </table>

    </div>
</div>