<div class="container col-md-6 mt-2">
    <div class="card">
        <div class="card-header h2">
            Prideti nauja knyga
        </div>
        <div class="card-body d-flex flex-column">
            <div>
                <label class="form-label h4" for="bookName">Knygos pavadinimas:</label>
                <input class="form-control" id="bookName" type="text" [(ngModel)]="bookName">
                <span class="text-danger h5">{{errorBookName}} </span>
            </div>
            <div class="mt-3">
                <label class="form-label h4" for="bookAuthor">Knygos autorius:</label>
                <input class="form-control" id="bookAuthor" type="text" [(ngModel)]="bookAuthor">
                <span class="text-danger h5">{{errorAuthorName}} </span>
            </div>
            <div class="mt-3">
                <label class="form-label h4" for="bookReleaseDate">Isleidimo metai:</label>
                <input class="form-control" id="bookReleaseDate" type="number" [(ngModel)]="bookReleaseDate">
                <span class="text-danger h5">{{errorBookRelease}} </span>
            </div>
            <button class="btn btn-success w-50 align-self-center mt-3" (click)="addBook()">Prideti</button>
        </div>
    </div>
</div>

<!--
    <div class="container col-md-6">
    <div *ngFor="let book of fullBookInfo">
        <h5>{{ book.id }}.</h5>
        <div (click)="book.editMode = true">
            <h5>Pavadinimas:
                <span *ngIf="!book.editMode">{{book.name}}</span>
                <input *ngIf="book.editMode" class="form-control" type="text" [(ngModel)]="book.name">
            </h5>
        </div>
        <div (click)="book.editMode = true">
            <h5>Autorius:
                <span *ngIf="!book.editMode">{{book.author}}</span>
                <input *ngIf="book.editMode" class="form-control" type="text" [(ngModel)]="book.author">
            </h5>
        </div>
        <div (click)="book.editMode = true">
            <h5>Isleidimo metai:
                <span *ngIf="!book.editMode">{{book.releaseDate}}</span>
                <input *ngIf="book.editMode" class="form-control" type="text" [(ngModel)]="book.releaseDate">
            </h5>
        </div>
        <div *ngIf="book.editMode">
            <button (click)="updateBook(book)" class="btn btn-primary">Issaugoti</button>
        </div>
        <button (click)="deleteBook(book)" class="d-flex align-items-center btn btn-danger mt-1" style="max-height: 30px;">Istrinti</button>
    </div>
</div>
-->